NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadscan.com
NEXT_PUBLIC_REOWN_PROJECT_ID=your_reown_project_id
NEXT_PUBLIC_VAULT_FACTORY_ADDRESS=
NEXT_PUBLIC_NATIVE_DEPOSIT_ROUTER_ADDRESS=
NEXT_PUBLIC_PROTOCOL_DEPLOYMENT_BLOCK=0
NEXT_PUBLIC_DEMO_MODE=false
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_WMON_ADDRESS=
NEXT_PUBLIC_WETH_ADDRESS=
